In [1]:
import pandas as pd
import pymongo

In [2]:
df_310_1=pd.read_csv("Resources/310_#1.csv")
df_310_2=pd.read_csv("Resources/310_#2.csv")
df_310_3=pd.read_csv("Resources/310_#3.csv")
df_310_4=pd.read_csv("Resources/310_#4.csv")
df_311=pd.read_csv("Resources/311.csv")
df_312=pd.read_csv("Resources/312.csv")
df_313=pd.read_csv("Resources/313.csv")
df_316=pd.read_csv("Resources/316.csv")

In [3]:
all_dfs=[df_310_1, df_310_2,df_310_3,df_310_4,df_311,df_312,df_313,df_316]
cell_towers_data=pd.concat(all_dfs).reset_index(drop=True)

In [4]:
cell_towers_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6073711 entries, 0 to 6073710
Data columns (total 14 columns):
 #   Column         Dtype
---  ------         -----
 0   radio          object
 1   mcc            int64
 2   net            int64
 3   area           int64
 4   cell           int64
 5   unit           int64
 6   lon            float64
 7   lat            float64
 8   range          int64
 9   samples        int64
 10  changeable     int64
 11  created        int64
 12  updated        int64
 13  averageSignal  int64
dtypes: float64(2), int64(11), object(1)
memory usage: 648.7+ MB

In [5]:
cell_towers_data.head()

,radio,mcc,net,area,cell,unit,lon,lat,range,samples,changeable,created,updated,averageSignal
0,GSM,310,260,32192,22568,0,-73.858566,40.898438,1779,12,1,1459696254,1489125559,0
1,GSM,310,260,22629,61562,0,-95.904465,41.303787,1000,2,1,1459810860,1474332973,0
2,GSM,310,260,51052,44152,0,-71.084483,42.381728,1000,44,1,1459812328,1514115939,0
3,GSM,310,260,51051,40311,0,-71.085559,42.381356,1000,52,1,1459812328,1527695374,0
4,GSM,310,260,5973,60092,0,-95.570630,29.735371,1000,22,1,1459692332,1490851584,0

In [6]:
dict_data=cell_towers_data.to_dict("records")

In [7]:
conn = "mongodb://localhost:27017"
client = pymongo.MongoClient(conn)

# Select database and collection to use
db = client.cell_towers
collection = db.towers_data

In [8]:
collection.insert_many(dict_data)