In [1]:
import pandas as pd
import pymongo

In [2]:
df_311=pd.read_csv("Resources/311.csv")
df_312=pd.read_csv("Resources/312.csv")
df_313=pd.read_csv("Resources/313.csv")
df_316=pd.read_csv("Resources/316.csv")

In [3]:
all_dfs=[df_311,df_312,df_313,df_316]
cell_towers_data=pd.concat(all_dfs).reset_index(drop=True)

In [4]:
cell_towers_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1255727 entries, 0 to 1255726
Data columns (total 14 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   radio          1255727 non-null  object
 1   mcc            1255727 non-null  int64
 2   net            1255727 non-null  int64
 3   area           1255727 non-null  int64
 4   cell           1255727 non-null  int64
 5   unit           1255727 non-null  int64
 6   lon            1255727 non-null  float64
 7   lat            1255727 non-null  float64
 8   range          1255727 non-null  int64
 9   samples        1255727 non-null  int64
 10  changeable     1255727 non-null  int64
 11  created        1255727 non-null  int64
 12  updated        1255727 non-null  int64
 13  averageSignal  1255727 non-null  int64
dtypes: float64(2), int64(11), object(1)
memory usage: 134.1+ MB

In [5]:
cell_towers_data.head()

,radio,mcc,net,area,cell,unit,lon,lat,range,samples,changeable,created,updated,averageSignal
0,GSM,311,470,42202,15072,0,-64.833755,17.762833,1000,1,1,1459668408,1459668408,0
1,CDMA,311,40,9281,3561,0,-112.121560,36.003734,2048,84,1,1277116486,1277116486,0
2,CDMA,311,40,9281,911,0,-112.121658,36.037903,1000,2,1,1277116576,1277116576,0
3,CDMA,311,40,9281,921,0,-112.126682,35.975644,1537,79,1,1342066239,1342066239,0
4,CDMA,311,40,9281,3562,0,-112.123856,35.985580,1316,10,1,1332516354,1332516354,0

In [22]:
json_data=cell_towers_data.to_dict("records")

In [23]:
conn = "mongodb://localhost:27017"
client = pymongo.MongoClient(conn)

# Select database and collection to use
db = client.cell_towers
collection = db.towers_data

In [27]:
collection.insert_many(json_data)